:root {
    --border: rgb(38, 40, 44);
    --bg-bg: rgb(21, 22, 24);
    --bg: rgb(29, 30, 32);
    --bg-selected: rgb(53, 55, 58);
    --bg-play-controls: rgb(38, 40, 43);
    --text: rgb(180, 180, 180);
    --link-text-dark: rgb(210, 210, 210);
    --link-text: rgb(240, 240, 240);
    --link-text-hovered: rgb(255, 255, 255);
}

/* scrollbar */

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--border);
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--border);
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

/* BGS */

body {
    color: var(--text) !important;
}

.header,
.PageHeader.m-uiEvoLight:not(.m-placeholder),
.ProLandingPage__stickyBg,
.ProLandingPage__offerContainerCarouselIndicator {
    background-color: var(--bg-play-controls) !important;
}

.soundBadge__additional,
.createPlaylistSuggestion__addContainer {
    background: linear-gradient(90deg,hsla(0,0%,100%,0),var(--bg) 17px) !important;
}

.active > .compactTrackListItem__additional,
*:hover > .compactTrackListItem__additional {
    background: linear-gradient(90deg,hsla(0,0%,100%,0),var(--bg-selected) 17px) !important;
}
body.sc-classic {
    background: var(--bg-bg) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABNgAAABkAQMAAABuPx8iAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFHR4gXKsS7gAAACZJREFUeJztwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAA+BjzwAAFJrVE2AAAAAElFTkSuQmCC) repeat-y 50% 0 !important;
}
.tabs__tabs,
.tabs__headingContainer,
.RecurlyCheckoutForm__inputColumn > div,
.RecurlyBillingSummary__container,
.RecurlyCheckoutFormSection,
.backgroundGradient__buffer,
.listenContent__inner,
.fullHero {
    background: var(--bg) !important;
}
body {
    background-color: var(--bg) !important;
}

.volume__sliderWrapper::before,
.PageContainer.m-uiEvoLight,
.volume__sliderWrapper,
.sc-background-white,
.sc-background-light,
.dropbar__content,
.searchTitle,
.listenLogin,
.frontMobileTeaser,
.g-modal-section,
.modal__modal,
.headerMenu.m-light,
.FeaturesGrid__cell,
.FeaturesGrid__sectionHeader,
.FeaturesGrid__sectionSubheader,
.PageContainer,
.dialog,
.dropdownContent__container,
.dialog__arrow,
.Button.m-secondary,
.l-fixed-top-one-column>.l-top {
    background-color: var(--bg) !important;
}

.sound__soundActions {
    background-color: unset !important;
}

.volume__sliderWrapper::before,
.volume__sliderWrapper::after {
    border-color: transparent transparent var(--border) var(--border) !important;
}

input[type=search],
.headerMenu.m-light,
.dialog__arrow,
.sc-input,
.commentForm__input,
.sc-border-light,
.sc-border-dark,
.topStatsModule__item,
.sc-button-secondary:not(.sc-button-selected),
.sc-tag,
.sc-button,
.volume__sliderWrapper,
.sc-border-box,
.OfferBox,
.FeaturesGrid__header,
.FeaturesGrid__section,
.ProLandingPage__offerContainerCarouselIndicator,
.dropdownContent__container,
.dialog {
    border: 1px solid var(--border) !important;
}

.statsOverview__separator,
.volume__sliderWrapper::before {
    background-color: var(--border) !important;
}

button.playControls__control,
.moreActions__group > button::before,
.headerMenu__link::after,
.commentItem__controls > button::before,
.playControls__control > button:not(.m-all, .m-one, .m-shuffling),
.sc-button-follow:not(.sc-button-selected)::before,
.sc-ministats-sounds::before,
.sc-button-group > button:not(.sc-button-selected, .sc-button-active)::before,
.systemPlaylistDetails__controls > div > button:not(.sc-button-selected)::before,
.volume__speakerIcon {
    filter: brightness(3) !important;
}


button.playControls__control:hover,
.playControls__control > button:not(.m-all, .m-one):hover {
    filter: brightness(5) !important;
}

.topStatsItemPlaceholder__text:after,
.topStatsItemPlaceholder__text:before,
.playbackTimeline__progressBackground,
.headerMenu__link:hover,
.sc-button:hover,
.sc-button-follow:hover,
.sc-button-secondary:hover,
.trackItem:hover,
.trackItem.active,
.clickToPlay.active,
.clickToPlay:hover,
.sc-button-group > button:not(.sc-button-selected):hover,
.Button.m-secondary:not(.m-currentPlan):hover,
.systemPlaylistDetails__controls > div > button:hover,
.compactTrackList__moreLink:hover,
.sc-button:not(.sc-button-selected):hover,
.topStats__wrapperEligible:hover {
    background-color: var(--bg-selected) !important;
}

.sc-classic .modal.modalWhiteout {
    background-color: rgba(24, 26, 27, 0.8) !important;
}

/* Comment box */

.commentForm__wrapper {
    background-color: var(--bg) !important;
    border: unset !important;
}
.commentForm__input,
.PageContainer__subwindow,
.CreatorRecurlyPage,
.FeaturesGrid__cellText,
.dropdownContent__container::after,
input[type=text],
input[type=search] {
    background: var(--bg) !important;
    color: var(--text) !important;
}

/* input */

.waveform__emptyMessage {
    text-shadow: 1px 1px 1px rgb(19, 19, 19) !important;
}

.sc-input,
.waveform__emptyMessage,
.compactTrackListItem__trackTitle,
.Price__price,
.ProLandingPage__companyTitle,
.ProLandingPage__planTitle,
.ProLandingPage__planTagline,
.ProLandingPage__offerContainerCarouselIndicator,
.FeatureList__text,
.FeaturesGrid__sectionHeader,
.FeaturesGrid__sectionSubheader,
.FeaturesGrid__cell,
.FeaturesGrid__headerCell,
.sc-text {
    color: var(--text) !important;
}

/* Selected song in playlist */

.trackItem__additional {
    background: unset !important;
}

/* Tags */
.sc-tag {
    background: var(--bg) !important;
}

.PaymentMethod,
.BillingCycle,
.sc-select:hover,
.ProLandingPage__bestValueRibbon.m-ghost,
.sc-tag:hover {
    background: var(--bg-selected) !important;
}
.truncatedUserDescription__wrapper::after,
.truncatedAudioInfo__wrapper::after {
    background: linear-gradient(hsla(0,0%,100%,0),rgba(29, 30, 32, 0.5) 90%,var(--bg)) !important;
}

/* Links */

.headerMenu__link {
    color: var(--link-text) !important;
}
.headerMenu__link:hover {
    color: var(--link-text-hovered) !important;
}

a:hover {
    color: var(--link-text-hovered) !important;
}

a.sc-link-dark {
    color: var(--link-text-dark) !important;
}

a.sc-link-light {
    color: var(--link-text) !important;
}

.sc-classic .playbackSoundBadge__titleLink, .sc-classic .playbackSoundBadge__titleLink:visited {
    color: var(--link-text-dark) !important;
}
.sc-classic .playbackSoundBadge__titleLink, .sc-classic .playbackSoundBadge__titleLink:visited:hover {
    color: var(--link-text-hovered) !important;
}

.RecurlyCheckoutFormSection__title.m-enabled,
.playbackTimeline__duration {
    color: var(--text) !important;
}

.listenEngagement {
    border: unset !important;
    box-shadow: 0 1px 0 0 var(--border) !important;
}

/* buttons */

button {
    color: var(--link-text) !important;
}
.sc-button-secondary:not(.sc-button-selected) {
    background-color: var(--bg) !important;
}
.sc-button-secondary {
    background-color: var(--bg) !important;
}
.sc-button-follow {
    background-color: var(--bg) !important;
}
.sc-button {
    color: var(--text) !important;
    background-color: var(--bg) !important;
}
.sc-button:hover {
    color: var(--text) !important;
}

/* select */

.sc-select {
    color: var(--text) !important;
    background: var(--bg) !important;
}

.playControls__inner {
    background-color: var(--bg-play-controls) !important;
    border-top: 1px solid var(--border) !important;
}
.playControls__elements {
    background-color: var(--bg-play-controls) !important;
    border-top: 1px unset !important;
}
.playControls__bg {
    border-top: 1px solid var(--border) !important;
    background-color: var(--bg-play-controls) !important;
}

/* borders */

.topStatsItemPlaceholder.listener .topStatsItemPlaceholder__visual,
.topStatsItemPlaceholder.playlist .topStatsItemPlaceholder__visual,
.topStatsItemPlaceholder.track .topStatsItemPlaceholder__visual {
    border: 1px solid var(--bg-selected) !important;
}

.image__whiteOutline .image__full {
    border: 2px solid var(--border) !important;
}
.l-about-rows,
.ProLandingPage__bestValueRibbon.m-ghost,
.ProLandingPage__stickyHeadersContainer,
.sc-border-light-right {
    border-right: 1px solid var(--border) !important;
}
.sc-classic .mixedSelectionModule,
.sc-border-light-bottom,
.tabs__heading,
.FeaturesGrid__row,
.FeaturesGrid__sectionSubheader,
.FeaturesGrid__sectionHeader,
.ProLandingPage__stickyBg,
.dropdownContent__listItem,
.dropdownContent__header,
.headerMenu__list,
.dropdownContent__main,
.sc-classic .searchTitle__text {
    border-bottom: 1px solid var(--border) !important;
}
.FeaturesGrid__cell+.FeaturesGrid__cell,
.FeaturesGrid__headerCell+.FeaturesGrid__headerCell,
.ProLandingPage__stickyHeadersContainer,
.ProLandingPage__stickyHeader+.ProLandingPage__stickyHeader,
.ProLandingPage__bestValueRibbon.m-ghost {
    border-left: 1px solid var(--border) !important;
}
.Footer__links,
.CollapsingFeatureList,
.ProLandingPage__bestValueRibbon.m-ghost,
.sc-border-light-top {
    border-top: 1px solid var(--border) !important;
}
.sc-border-light-top::before {
    display: none !important;
}

/* settings */

.g-form-section-head {
    border-bottom: 1px solid var(--border) !important;
}
.g-tabs {
    border-bottom: 1px solid var(--border) !important;
}

.g-tabs-link:not(.active),
.g-nav-item>.g-nav-link {
    color: var(--link-text) !important;
}
.g-tabs-link:not(.active):hover,
.g-nav-item>.g-nav-link:hover {
    color: var(--link-text-hovered) !important;
}